								<div class="submit step">
									<h3 class="main_question"><strong>2/2</strong>กรอกข้อมูลส่วนตัว (ไม่จำเป็น)</h3>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text" name="employee_id" class="form-control" placeholder="รหัสพนักงาน">
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text" name="firstname_lastname" class="form-control" placeholder="ชื่อ - สกุล">
												</div>
											</div>
										</div>
										<!-- /row -->
								</div>
								<!-- /step-->