                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tile">
                                            <p class="title">MBK Innovation Day 2017</p>
                                            <p>MBK Innovation 4.0</p>
                                            <div class="img img-bottom">
                                                <i class="fa fa-desktop"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tile tile-orange">
                                            <div class="img">
                                                <i class="fa fa-comments"></i>
                                            </div>
                                            <div class="content">
                                                <p class="big">128</p>
                                                <p class="title">Comments</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="tile tile-orange">
                                    <div class="img">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">128</p>
                                        <p class="title">Comments</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="tile tile-dark-blue">
                                    <div class="img">
                                        <i class="fa fa-download"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">+160</p>
                                        <p class="title">Downloads</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>