                <div id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            Home
                            <!-- <a href="../dashboard/index.php">Home</a> -->
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a href="index.php">Dashboard</a>
                        </li>
                    </ul>
                </div>