---
title: MWA - Q&A
layout: "layout-home-index"

imageURL: "../../../images"
---

        <!-- BEGIN Navbar -->
        <%= partial "/display-common-partials/_display-common-navbar" %>
        <!-- END Navbar -->

        <!-- BEGIN Container -->
        <div class="container" id="main-container">
            <!-- BEGIN Sidebar -->
            
            <!-- END Sidebar -->

            <!-- BEGIN Content -->
            <div id="main-content">
                <!-- BEGIN Page Title -->
                <%= partial "/display-container-partials/_mainContener-pageTitle" %>
                <!-- END Page Title -->

                <!-- BEGIN Breadcrumb -->
                <%= partial "/display-container-partials/_mainContener-breadCrumbs" %>
                <!-- END Breadcrumb -->

                <!-- BEGIN Main Content -->
                <%= partial "/display-container-partials/_mainContener-content" %>
                <!--
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                -->
                <!-- END Main Content -->
                
                <footer>
                    <p>MWA Q&A © Digital MWA 2018</p>
                </footer>

                <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
            </div>
            <!-- END Content -->
        </div>
        <!-- END Container -->